.content{
    min-height: 85%;
   
}

.banner-image{
    text-align: center;
    padding-bottom: 50px;
    color: #f8f8f8;
    background: url(firstimage.jpeg) no-repeat center;
    min-height: 800px;
    background-size:cover;
    }

.inner-banner-image{
    padding-top: 17%;
    width:80%; 
    margin:auto;
    padding-left: 25%; 
    padding-right: 25%;
}

.banner-content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%; 
    overflow:hidden;
    margin-bottom: 12%; 
    background-color: rgba(0, 0, 0, 0.7); 
    max-width: 660px;
}
.corousel{
    min-height: 85%;
}